<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar</title>
</head>

<body>
  <h1>Registrar</h1>
  <form id="registerForm">
    <label for="nome">Nome</label>
    <input type="text" name="nome" required />

    <label for="senha">Senha</label>
    <input type="password" name="senha" required />

    <button type="submit">Enviar</button>
  </form>

  <script>
    document.getElementById('registerForm').addEventListener('submit', async (e) => {
      e.preventDefault(); // Impede o envio padrão do formulário

      const nome = document.querySelector('input[name="nome"]').value;
      const senha = document.querySelector('input[name="senha"]').value;

      const response = await fetch('/user/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ nome, senha })
      });

      if (response.ok) {
        alert('Usuário registrado com sucesso!'); // Exibir mensagem de sucesso
        window.location.href = '/user/login'; // Redirecionar para a página de login
      } else {
        const errorData = await response.json();
        alert(errorData.message); // Exibir mensagem de erro
      }
    });
  </script>
</body>

</html>